header {
    background: white;
    height: 225px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.cover {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: rgb(64, 46, 82);
    font-weight: 600;
}

ul {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
}
ul li a{
    margin: 0 30px;
    text-decoration: none;
    color: rgb(64, 46, 82);
}