.box__container {
    margin-top: 34px;
}
.card {
    margin-top: 72px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.box__item {
    flex: 0 0 300px;
    background: white;
    box-shadow: 2px 15px 18px -1px rgba(160, 160, 160, 0.17);
    margin-bottom: 34px;
}
.box__photo {
    height: 200px;
    width: 100%;
    background: rgb(202, 202, 202);
}
.box__text {
    padding: 16px 16px 34px 16px;
}
.box__text p {
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(88, 88, 90);
}
.box__text h2 {
    font-size: 18px;
    color: rgb(88, 88, 90);
}
