@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ajuste*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
HTML {
  height: 100%;
}
:root {
  font-size: 16px;
}
body {
  height: 100%;
  background: #fafafb;
  font-family: "Poppins", sans-serif;
}
.pd_fix {
  padding: 0 3% 0 3%;
}
.mwfix {
  max-width: 1336px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .mwfix {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1088px) {
  .mwfix {
    max-width: 746px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 746px) {
  .mwfix {
    max-width: 610px;
    margin: 0 auto;
  }
}
